!!!
%html
  %head
    %title table dump goes here
  %body
    %h1 data data 
    %table
      %tbody
        - each row in results
          %tr
            %td= row.null_test
            %td= row.bit_test
            %td= row.tiny_int_test
            %td= row.small_int_test
            %td= row.medium_int_test
            %td= row.int_test
            %td= row.big_int_test
            %td= row.float_test
            %td= row.float_zero_test
            %td= row.double_test
            %td= row.decimal_test
            %td= row.decimal_zero_test
            %td= row.date_test
            %td= row.date_time_test
            %td= row.timestamp_test
            %td= row.time_test
            %td= row.year_test
            %td= row.char_test
            %td= row.varchar_test
            %td= row.binary_test
            %td= row.varbinary_test
            %td= row.tiny_blob_test
            %td= row.tiny_text_test
            %td= row.blob_test
            %td= row.text_test
            %td= row.medium_blob_test
            %td= row.medium_text_test
            %td= row.long_blob_test
            %td= row.long_text_test
            %td= row.enum_test
            %td= row.set_test
